<ion-header>
    <ion-toolbar>
      <ion-title>User Details</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-label>{{ users.name.first }} {{ users.name.last }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-label>{{ users.email }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-label>{{ users.gender }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-label>{{ users.dob.date | date: 'shortDate' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Age</ion-label>
        <ion-label>{{ users.dob.age }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-label>{{ users.location.city }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-label>{{ users.location.country }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="addToFavorites()">Add to Favorites</ion-button>
  </ion-content>